@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1024px;
    --color-nav-btn: #2E256F;
    --color-header-dark: #202F69;
    --color-nav-dark: #FFFFFF;
    /*--color-text-dark-: #FFFFFF;*/
    --color-dark-fond: #080B2A;
}

@layer utilities {
    /*COLORS LIGHT-MODE*/
    .register-btn {
        background: linear-gradient(90deg, #1235C7, #0E2897, #0C227F, #0C2488, #091A61);
    }

    .primary-btn {
        background: linear-gradient(to right, #202857, #4658BD);
    }

    .primary-text {
        background: linear-gradient(to right, #202857, #4658BD);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /*.dark-gradient {*/
    /*    background: linear-gradient(135deg, #8BBD8E 0%, #FFFFFF 50%, #999999 100%);*/
    /*    -webkit-background-clip: text;*/
    /*    -webkit-text-fill-color: transparent;*/
    /*}*/

    /*COLOR DARK_MODE*/



    /* SHADOW   */
    /*.login-shadow {*/
    /*    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1),*/
    /*    8px 9px 12px rgba(0, 0, 0, 0.09),*/
    /*    19px 20px 16px rgba(0, 0, 0, 0.05),*/
    /*    34px 35px 20px rgba(0, 0, 0, 0.01),*/
    /*    53px 55px 21px rgba(0, 0, 0, 0);*/
    /*}*/
}
